<section class="section-movies-box">

    <div class="section-div-movies-header">
        <a href="/movies">
            < < < </a>
                <h1>Cinema Ironhack</h1>
                <p><br></p>
    </div>

    <article class="article-movie-box">
        <div>
            <img src="{{movie.image}}" alt="">
        </div>
        <div class="article-movie-text-box">
            <h1>{{movie.title}}</h1>
            <p><b>Director:</b> {{movie.director}}</p>
            <p><b>Stars:</b> {{movie.stars}}</p>
            <p><b>Summary:</b> {{movie.description}}</p>
            <p><b>Showtimes:</b> {{movie.showtimes}}</p>
        </div>
    </article>
</section>